body {
    background-color: pink;
}

.pokemon{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 500px) {
    body{
        background-color: red;
    }
}

@media screen and (max-width: 250px) {
    body{
        background-color: blueviolet;
    }
}
